<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoviesModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C0709831BB8408F0000F8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C07099F1BB8408F0000F8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C0709AA1BB840900000F8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
